@page "/"

<PageTitle>Torneos</PageTitle>

<h1>Tenemos de Chile, de dulce y de manteca!!!</h1>

<div class="form-grup row">
                    <label for="Pass" class="col-sm-3 col-form-label">Padel</label>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
